@import '../../variables';

.Color {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
}

.ColorValue {
    width: 100%;
    background: none;
    border: none;
    text-align: center;
    font-size: 2.5rem;
    color: $white;
    letter-spacing: 1px;
    opacity: 0.4;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.7;
    }
}

.Locked,
.Unlocked {
    width: 5rem;
    height: 5rem;
    fill: $white;
    cursor: pointer;
}

.Unlocked {
    opacity: 0.5;
}

.Locked {
    opacity: 0.8;
}
